﻿<link href="@Url.Content("~/Content/ProTheme.css")" rel="stylesheet" type="text/css" />
</head>
<body>


<button id="test" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">Tooltip on right</button>



<nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <h4 class="navbar-brand">
      SuperLegit2014
    </h4>
  </div>
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="#">
        To-do List
      </a>
    </li>
    <li>
      <a href="#">
        Merchandise (under development)
      </a>
    </li>
  </ul>
</nav>
<div class="sideBar" >
  <ul>
    <li>
        <button type="button" class="btn btn-success" id="createPerson" data-toggle="modal" data-target="#createPersonModal">
            <span class="glyphicon glyphicon-user">
            </span>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-calendar">
            </span>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-briefcase">
            </span>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-envelope">
            </span>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-floppy-disk">
            </span>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-eye-open">
            </span>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus">
            </span>
        </button>
    </li>
  </ul>
</div>
<div class="container" style="width:100%">
  <div class="row" style="margin-top:50px">
      <header class="mainTitle">
        <h1 style="font-size:16px">
          Welcome To SuperLegit2014
        </h1>
      </header>
  </div>
  <div class="row somePadding">
     <div class="widget">
        <div class="carouselRow">
          <h2 id="currentTable">
            Legend
          </h2>
        </div>
        <ul>
          <li>
            <span class="glyphicon glyphicon-remove">
            </span>
            : Remove person
          </li>
          <li>
            <span class="glyphicon glyphicon-eye-open">
            </span>
            : View tasks assigned to person
          </li>
          <li>
            <span class="glyphicon glyphicon-plus">
            </span>
            : Assign new tasks to person
          </li>
          <li>
            <span class="glyphicon glyphicon-pencil">
            </span>
            : Edit person name
          </li>
        </ul>
     </div>
  </div>
  <div class="row somePadding">
     <div class="widget">
        <div class="carouselRow">
          <h2 id="currentTable">
            Notification
          </h2>
        </div>
        <div id = "alertArea" class="notificationRow"></div>
     </div>
  </div>
  <div class="row somePadding">
    <div class = "widget">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carouselRow">
          <h2 id="currentTable">
            Database Carousel
          </h2>
          <div class="carouselContainer">
              <a href="#carousel-example-generic" data-slide="prev" class="inline">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
              </a>
              <ol class="carousel-indicators inline">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              </ol>
              <a href="#carousel-example-generic" data-slide="next" class="inline">
                <span class="glyphicon glyphicon-chevron-right">
                </span>
              </a>
          </div>
        </div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <p> Person List </p>
            <div class="row" id="personGridPage">
              <div class="mainPageGrid" ng-controller="PersonCtrl">
                <div class="gridStyle" id="personGrid" ng-grid="gridOptions">
                </div>
              </div>
            </div>
          </div>
          
          <div class="item">
            <p> Task List </p>
            <div class="row" id="taskGridPage">
              <div class="mainPageGrid" ng-controller="TaskCtrl">
                <div class="gridStyle TaskGrid" id="taskGrid" ng-grid="gridOptions">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Create Person Modal -->
<div class="modal fade" id="createPersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Create New Person
        </h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" id="newPersonName" placeholder="Person name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="createPerson()">
          Save
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Edit Person Modal -->
<div class="modal fade" id="editPersonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Edit Person Information
        </h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" id="editPersonID" style="display:none">
          
          <input type="text" class="form-control" id="editPersonName" placeholder="Person name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="editPerson()">
          Save
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Task List Modal -->
<div class="modal fade" id="detailPersonModal" ng-controller="PersonDetailCtrl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Task List
        </h4>
      </div>
      <div class="modal-body todoList" id="test">
        <div class="gridStyle PersonDetailGrid" id="PersonDetailGrid" ng-grid="gridOptions">
        </div>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <input type="text" class="form-control" id="editTaskOwnerID" style="display:none">
                <input type="text" class="form-control" id="editTaskID" placeholder="Task ID" readonly>
                <input type="text" class="form-control" id="editTaskTitle" placeholder="Title">
                <input type="text" class="form-control" id="editTaskStartDate" placeholder="Start Date" readonly>
                <input type="text" class="form-control" id="editTaskEndDate" placeholder="End Date" readonly>
                <button class="btn btn-primary pull-right" onclick="saveEditTask()">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click ="ngDeleteTask()" data-dismiss="modal">
          Delete Task(s)
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- Add Task Modal -->
<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Add Task
        </h4>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="newTaskOwner" placeholder="Owner ID" style="display:none">
        <input type="text" class="form-control" id="newTaskTitle" placeholder="Title">
        <input type="text" class="form-control" id="newTaskStartDate" placeholder="Start Date" readonly>
        <input type="text" class="form-control" id="newTaskEndDate" placeholder="End Date" readonly>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="createTask()">
          Save
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>   
 $('.carousel').carousel({
        interval: false
    })
</script>